Jupyter_local_code/datasets
Jupyter_local_code/weights
Jupyter_local_code/weightsyolo
Jupyter_local_code/Copy_of_train_yolov10_object_detection.ipynb
Jupyter_local_code/runs
Jupyter_local_code/data
Jupyter_local_code/yolov8n.pt
Jupyter_local_code/Copy_of_train_yolov10_object_detection-checkpoint.ipynb
*-checkpoint.ipynb
test.txt
*.ipynb_checkpoints


