Jupyter_local_code/datasets
Jupyter_local_code/weights
Jupyter_local_code/weightsyolo
Jupyter_local_code/Copy_of_train_yolov10_object_detection.ipynb
Jupyter_local_code/runs
Jupyter_local_code/data
Jupyter_local_code/yolov8n.pt
Jupyter_local_code/oysters-19/
Jupyter_local_code/Copy_of_train_yolov10_object_detection-checkpoint.ipynb
*-checkpoint.ipynb
test.txt
*.ipynb_checkpoints
*.mp4
*.MP4
*.Mp4
*.mP4
"Oyster Test Videos"
Roboflow/
sql/Files/*
sql/runs
*.kate-swp
molten-album-427115-q6-cfa4e4aaf3bd.json
/sql/Files_local/
Jupyter_local_code/Oyt-7/
sql/Files/
molten-album-427115-q6-cfa4e4aaf3bd.json
cloud-sql-proxy
cloud-sql-proxy.exe
Jupyter_local_code/runs/
molten-album-427115-q6-cfa4e4aaf3bd.json
streamlit_multipage/Files_local/
__pycache__
streamlit_multipage/Shellfish_project_2024.code-workspace
